body{
    font-family: 'Open Sans', sans-serif;
}
.banner-container{
    /* background-color: #cacaca;  */
    background-image: url(/image/banner.jpg);

}

.banner-column{
    background-color: #8d8d8d;
   
}

.navbar-container{
    background-color: #262b37;
}

.about-container{
  background-color: rgb(9, 84, 84);
}
.education-container{
    background-color: #c9d2cf;
}

.education-circle{
    background-color: rgb(2, 53, 66);
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.card-design{
    background-color:#0F0F0F;
    color: white;
    
}
.project-container{
    background-color: #3A4647
}
.portfolio-container{
    background-color: #4c4c4e;
}

.gallery-container{
    background-color: #262132;
}

.footer{
    background-color: #232127;
}

.circle{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: inline-block;
    background-color: rgb(150, 151, 158);
    font-size: 30px;
    text-align: center;
    align-items: center;
    color:  #232127;

}

.circle:hover{
    background-color: #232127;
}